.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10rem;
  line-height: 125%;
}

/* Biggish */
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .header__title {
    font-size: 8rem;
  }
}

/* Med */
@media screen and (min-width: 401px) and (max-width: 800px),
  (max-height: 1000px) {
  .header__title {
    font-size: 5rem;
  }
}

/* Small */
@media screen and ((min-width: 1px) and (max-width: 400px)),
  (max-height: 500px) {
  .header__title {
    font-size: 3rem;
  }
}
